body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
    color: #222;
}

.header-booki {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 10px 40px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
    color: #0065fc;
    font-family: 'Montserrat', Arial, sans-serif;
}

.logo p {
    margin: 0;
    font-size: 1rem;
    color: #333;
}

.nav-booki {
    display: flex;
    gap: 40px;
}

.nav-booki a {
    text-decoration: none;
    color:black;
    font-weight: 500;
    font-size: 1.1rem;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    padding-top: 8px;
    padding-bottom: 6px;
    transition: border-color 0.2s;
}

.nav-booki a:hover {
    border-bottom: 2px solid #75052e;
}

section {
    max-width: 800px;
    margin: 40px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.projet {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #222;
    color: #fff;
    margin-top: 40px;
}